/* Titulos y totales del Carrito */
.backgroundTitles th {
    background-color: #dedddd;
}

.backgroundTitles {
    background-color: #dedddd;
    padding: 8px;
}

.totalPrice {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.tableCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    margin-left: 50px;
    margin-right: 50px;
}

section {
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartInput {
    box-sizing: border-box;
    height: 40px;
    border: 1px solid #cecece;
    border-radius: 8px;
    padding-left: 10px;
    margin: 5px;
    transition: 300ms;
    width: 30%
}

.cartInput:hover {
    border: 1px solid #000;
    outline: none;
}

.cartInput:focus {
    outline: 1px solid #4d004d;
    outline-width: thin;
    background-color: #f1e9f1;
    border: none;
}

.cartForm {
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
}

.cartForm span {
    margin: 15px;
    padding: 10px;
    text-transform: uppercase;
}

.cartTable td,
th {
    text-align: center;
    padding: 8px;
}

.cartTable th {
    text-transform: uppercase;
    font-size: 14px;
}

.cartTable tr:nth-child(even) {
    background-color: #f3f3f3;
}

.imageProduct {
    height: 150px;
}

/* Botones Carrito */
.trashButton button {
    border-radius: 100px;
    padding: 10px;
    border: none;
    border-color: #fff;
    color: #fff;
    background-color: #000;
    align-content: center;
}

.botonesCarrito {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.botonesCarrito button {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
}

/* Carrito Vacio */
.carritoVacio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 20px;
}

.carritoVacio img {
    height: 350px;
    width: 350px;
    margin: 50px;
}

.carritoVacio span {
    text-align: center;
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}