.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-block-end: 15px;
}
.item h3{
  text-align: center;
  padding: 10px;
}
.item button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagenBebida{
  height: 200px;
  margin: 20px;
}