.navbar{
    background-color:#000;
}
ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    margin: 5px;
    font-size: 20px;
    font-weight: 500;
}
.logo{
    width: 250px;
}