.navbar{
    /* width: 100%; */
    display: flex;
    text-align: center;
    flex-direction: row;
    background-color: #000;
    justify-content: space-around;
}
.menu{
    list-style: none;
    padding: 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    display: block;
}
.menu li {
    display: inline-block;
    text-align: center;
}
.logo img{
    border-radius:4rem;
    margin: 10px;
}
