.controllers {
	display: flex;
	justify-content: center;
	align-items: center;
}
button {
	background-color: #000;
	border: none;
	color: white;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
span {
	font-size: 20px;
	margin: 0 10px;
}
.counter {
    font-size: 15px;
    font-weight: bolder;
    
}
.counter span {
    padding: 7px;
}