.controllers {
    display: flex;
}
.controllers button {
    font-size: 10px;
    width: 25px;
    background-color: #000;
    font-weight: bolder;
    color: #fff;
}

.counter {
    font-size: 15px;
    font-weight: bolder;
}
.counter span {
    padding: 7px;
}