.controllers {
    display: flex;
}
.controllers button {
    font-size: 25px;
    width: 50px;
    background-color: #000;
    font-weight: bolder;
}

.counter {
    font-size: 25px;
    font-weight: bolder;
}
.counter span {
    padding: 15px;
}