.itemList {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0;
}
.itemList a {
    text-decoration: none;
    color: #000;
}
.card {
    width: calc(33.33% - 10px);
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
    margin: 5px;
}
.card button{
    display: block;
    margin: auto;
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.card button:hover{
    background-color: #18171c;
    }
.container h3{
    font-size: 15px;
    color: #000;
}
.itemList a:hover{
    color: #000;
}